<div class="container py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"> {{restaurant.name}} <i class="fa-sharp fa-solid fa-house"></i></h4>
          <hr>
          <form action="/restaurants/{{ restaurant._id }}?_method=PUT" method="POST" id="form" novalidate>
            <div class="row mb-3 g-2">
              <label for="name" class="col-md-4 col-form-label">
                Name <span class="require">*</span>
              </label>
              <div class="col-md-8">
                <input type="text" name="name" class="form-control" id="name" value="{{restaurant.name}}" required>
                <div class="valid-feedback">OK</div>
                <div class="invalid-feedback">必填</div>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="category" class="col-md-4 col-form-label">
                Category <span class="require">*</span>
              </label>
              <div class="col-md-8">
                <input list="categories" name="category" class="form-control" id="category" value="{{restaurant.category}}" required>

                <datalist id="categories">
                  <option>中東料理</option>
                  <option>日本料理</option>
                  <option>義式餐廳</option>
                  <option>美式</option>
                  <option>酒吧</option>
                  <option>咖啡</option>
                </datalist>
                <small class="text-muted form-text">找不到相符的類型請自行輸入。</small>
                <div class="valid-feedback">OK</div>
                <div class="invalid-feedback">必填</div>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="image" class="col-md-4 col-form-label">
                Image <span class="require">*</span>
              </label>
              <div class="col-md-8">
                <input type="text" name="image" class="form-control" id="image" value="{{restaurant.image}}" pattern="https?://.*" required>
                <div class="valid-feedback">OK</div>
                <div class="invalid-feedback">請填入餐廳圖片連結</div>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="location" class="col-md-4 col-form-label">
                Location <span class="require">*</span>
              </label>
              <div class="col-md-8">
                <input type="text" name="location" class="form-control" id="location" value="{{restaurant.location}}" required>
                <div class="valid-feedback">OK</div>
                <div class="invalid-feedback">必填</div>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="phone" class="col-md-4 col-form-label">
                Phone <span class="require">*</span>
              </label>
              <div class="col-md-8">
                <input type="text" name="phone" class="form-control" id="phone" value="{{restaurant.phone}}" required>
                <small class="text-muted form-text"></small>
                <div class="valid-feedback">OK</div>
                <div class="invalid-feedback">必填</div>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="google_map" class="col-md-4 col-form-label">
                Google Map <span class="require">*</span>
              </label>
              <div class="col-md-8">
                <input type="text" name="google_map" class="form-control" id="google_map"
                  value="{{restaurant.google_map}}" pattern="https?://www.google.com/maps/place.*" required>
                  <div class="valid-feedback">OK</div>
                  <div class="invalid-feedback">請填入Google Map網址</div>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="rating" class="col-md-4 col-form-label">
                Rating <span class="require">*</span>
              </label>
              <div class="col-md-8">
                <input type="number" name="rating" class="form-control" id="rating" min="0" max="5" step=".1" value="{{restaurant.rating}}" required>
                <small class="text-muted form-text">請評分0~5分</small>
                <div class="valid-feedback">OK</div>
                <div class="invalid-feedback">必填</div>
              </div>
            </div>

            <div class="row mb-3 g-2">
              <label for="description" class="col-md-4 col-form-label">
                Description <span class="require">*</span>
              </label>
              <div class="col-md-8 form-group">
                <textarea type="text" name="description" class="form-control" id="description" rows="6" placeholder="請輸入餐廳簡介" required>{{restaurant.description}}</textarea>
                <div class="valid-feedback">OK</div>
                <div class="invalid-feedback">必填</div>
              </div>
            </div>
            <div class="edit-btn-location">
              <button class="btn btn-outline-dark" type="submit" id="submit-button">儲存修改</button>
              <a href="/">
                <button type="button" class="btn btn-outline-dark">
                  返回首頁
                </button>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src='/javascripts/verifydata.js'></script>